<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Error</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
	</head>
	<body>
		<h1 style="text-align: center">Error!</h1>
		<div class="centred-outer">
			<div class="centred-inner">
			<p class="pretty-frame" style="line-height: 1.5">
				<button class="btn" onclick="getHREF('weather')"><i class="fa fa-cloud"></i> Current</button>
				<button class="btn" onclick="getHREF('24h')"><i class="fa fa-line-chart"></i> Last 24h</button>
				<button class="btn" onclick="getHREF('7d')"><i class="fa fa-line-chart"></i> Last 7d</button>
				<button class="btn" onclick="getHREF('28d')"><i class="fa fa-line-chart"></i> Last 28d</button>
			</p>
			</div>

			<script>
				function getHREF(ref) {
					if (ref == 'weather') {
						window.location.href = "/";
					}
					else if (ref == '24h') {
						window.location.href = "/charts?period=24h";
					}
					else if (ref == '7d') {
						window.location.href = "/charts?period=7d";
					}
					else if (ref == '28d') {
						window.location.href = "/charts?period=28d";
					}
				}
			</script>
		</div>
		<div class="centred-outer">
			<table id="error" class="pretty-table">
				<tr>
					<td class="version-cell" style="text-align: left">
						<% if(errorText !== null) { %>
							<font size="4">I'm sorry, I didn't understand that: <%= errorText %></font>
						<% } %>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>